/* .active:hover{
    background-color: red;
    border-radius: 40px;
}

.recover:hover{
    background-color: rgb(44, 199, 44);
    border-radius: 40px;
}

.death:hover{
    background-color: darkorange;
    border-radius: 40px;
} */
